from __future__ import annotations

from abc import ABC, abstractmethod


class __INTERFACE_NAME__(ABC):
    @abstractmethod
    def __METHOD_NAME__(self, __ARG_NAME__: __ARG_TYPE__) -> __RETURN_TYPE__:
        raise NotImplementedError
